<div class="commentsList">
	<%= page_title "Comments" %>
	
		<% for comment in @comments %>
			<div class="comment whiteBackground">
				<div class="title">
					<%= link_to comment.title, comment.commentable %>
					By <%= comment.name %>
				</div>
				<div class="date"><%= comment.created_at.pretty %></div>
				<div class="clearBoth"></div>
				<div class="commentBody"><%= comment.comment %></div>
			</div>
			
		<% end %>
</div>