<div class="siteMap">
	<%= page_title "Sitemap - the map to The People's Feed" %>
	
	<h2>Contribute</h2>
	<ul>
		<li><%= link_to 'Information About Contributing', '/contribute'%></li>
		<li><%= link_to 'Open Source Information', '/open-source'%></li>
		<li><%= link_to 'Email Updates', '/email_subscriptions/new' %></li>
	</ul>
	<h2>Use</h2>
	<ul>
		<li><%= link_to 'The most popular news articles', '/'%></li>
		<li><%= link_to 'Categories - Complete list', :controller => 'category', :action => 'index'%></li>
		<li><%= link_to 'RSS feeds we consume', :controller => 'feed', :action => 'index' %></li>
		<li><%= link_to 'Recent pictures', :controller => 'feed_item', :action => 'media' %></li>
		<li><%= link_to 'See all user comments', :controller => 'comment' %></li>
		<li><%= link_to 'Privacy policy', '/privacy-policy' %></li>
	</ul>
	<h2>Promote</h2>
	<ul>
		<li><%= link_to 'Add your feed to our feeds', :controller=> 'feed', :action => 'new' %></li>
		<li><%= link_to "Email A Friend about The People's Feed", :controller => 'email_a_friend_messages', :action => 'new' %></li>
	</ul>
	
	<br />
	<br />
	
	<h2>Service, Technologies, and Friends</h2>
	<p>The following is a short list of technologies and services that The People's Feed uses.  Feel free to visit them</p>
	<ul>
		<li><a href="http://www.blogoculars.com/link/the-peoples-feed">Blogoculars Blog Directory</a></li>
	</ul>
</div>