<div class="feedItemWide whiteBackground">
	<table>
		<tr>
			<td>
				<% link_to({:controller => "feed_item", :action => "redir", :id => feedItem }, :target => '_blank') do %>
					<%= image_tag(feedItem.image_url) if feedItem.image_url%>
				<% end %>
			</td>
			<td>
				<h4>
					<% link_to({:controller => "feed_item", :action => "redir", :id => feedItem }, :target => '_blank') do %>
						<%= truncate h(feedItem.title.fix_html), :length => 60, :omission => '...' %>
					<% end %>
				</h4>
				<div class="feedItemCreated">
					<%= feedItem.created_at.pretty%>
				</div>
				<div class="description">
					<span class="source"><%= link_to feedItem.feed.title, feedItem.feed %>:</span>
					<%= truncate h(feedItem.description.fix_html), :length => 360, :omission => "..."  %> 
					<span class="comment"><%= link_to '(more)', feedItem %></span>
				</div>
			</td>
		</tr>
	</table>
</div>