<html>
	<head>
		<%= javascript_include_tag "jquery-1.3.2.min.js" %>
		<%= javascript_include_tag "jquery.bgiframe.js" %>
		<%= javascript_include_tag "jquery.delegate.js" %>
		<%= javascript_include_tag "jquery.tooltip.min.js" %>
		<%= javascript_include_tag "jquery.dimensions.js"%>
		<%= javascript_include_tag "jquery.pngFix.js"%>
		<%= javascript_include_tag "main.js" %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>