<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<%= stylesheet_link_tag 'main' %>
        <meta name="verify-v1" content="qnzsIVoN1EFhSa6I3djN8bQ0o9x+L1NZp/eJ6C6XCao=" ></meta>
	<title>
		<%= "#@page_title - " if !@page_title.nil? %> The People's Feed
	</title>
	<% if !@meta_description.nil? %>
		<meta name="description" content="<%= @meta_description %>" />
	<% end %>
</head>
<body>
	<div class="header">
		<img src="/images/header_logo.png" alt="The People's Feed" class="logo" />
		<div class="motto">The latest news ranked by the popularity YOU determine.</div>
		<div class="smallMenu">
			<ul>
				<li><%= link_to 'how it works', '/how-it-works' %></li>
				<li><%= link_to 'contribute', '/contribute' %></li>
				<li><%= link_to 'open source', '/open-source' %></li>
			</ul>
		</div>
		<div class="search">
			<form action="http://www.thepeoplesfeed.com/search" id="cse-search-box">
			  <div>
			    <input type="hidden" name="cx" value="partner-pub-7279077462237001:a7h0rp-l74h" />
			    <input type="hidden" name="cof" value="FORID:10" />
			    <input type="hidden" name="ie" value="ISO-8859-1" />
			    <input type="text" name="q" size="20" />
			    <input type="submit" name="sa" value="Search" />
			  </div>
			</form>
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
		</div>
		
		<%= render :partial => 'shared/main_menu_insert' %>
	</div>
	<div class="body">
	    <%= yield %>
        </div>
	<div class="footer">
		<%= link_to 'sitemap', '/sitemap'%> | 
		<%= link_to 'privacy', '/privacy-policy' %> | 
		<%= link_to 'contact us', '/contact-us' %> | 
		<%= link_to 'contribute', '/contribute' %> |
		<%= link_to 'how it works', '/how-it-works' %>
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9105909-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
	
</body>
</html>