<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<%= stylesheet_link_tag 'main' %>
	<meta name="verify-v1" content="qnzsIVoN1EFhSa6I3djN8bQ0o9x+L1NZp/eJ6C6XCao=" >
	<title>
		<%= "#@page_title - " if !@page_title.nil? %> The People's Feed
	</title>
	<% if !@meta_description.nil? %>
		<meta name="description" content="<%= @meta_description %>" />
	<% end %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "jquery.bgiframe.js" %>
	<%= javascript_include_tag "jquery.delegate.js" %>
	<%= javascript_include_tag "jquery.tooltip.min.js" %>
	<%= javascript_include_tag "jquery.dimensions.js"%>
	<%= javascript_include_tag "main.js" %>
</head>
<body>
	<div class="header">
		<img src="/images/header_logo.png" alt="The People's Feed" class="logo" />
		<div class="motto">The latest news ranked according to its popularity by YOU</div>
		<div class="smallMenu">
			<ul>
				<li><%= link_to 'how it works', '/how-it-works' %></li>
				<li><%= link_to 'contribute', '/contribute' %></li>
				<li><%= link_to 'open source', '/open-source' %></li>
				<li><%= link_to 'blog', '/blog' %></li>
			</ul>
		</div>
		<div class="search">
			<form action="http://www.thepeoplesfeed.com/search" id="cse-search-box">
			  <div>
			    <input type="hidden" name="cx" value="partner-pub-7279077462237001:a7h0rp-l74h" />
			    <input type="hidden" name="cof" value="FORID:10" />
			    <input type="hidden" name="ie" value="ISO-8859-1" />
			    <input type="text" name="q" size="20" />
			    <input type="submit" name="sa" value="Search" />
			  </div>
			</form>
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
		</div>
		<div class="menu" >
			<% link_to '/' do %>
				<img src="/images/menu_01.png" alt="Top RSS feeds">
			<% end %>
			<% link_to :controller => 'feed', :action => 'new' do %>
				<img src="/images/menu_02.png" alt="Add a RSS feed">
			<% end %>
			<% link_to :controller => 'users', :action => 'new' do %>
				<img src="/images/menu_03.png" alt="Join the People's feed">
			<% end %>
		</div>
	</div>
	<div class="body">
		<div class="centerColumn">
			<%= yield %>
		</div>
		<div class="rightHandList">
			<% cache(:controller => 'homepage', :action => 'homepage', :left_navigation => 'top_feeds') do %>
				<h3>Top Feeds</h3>
			
				<%= render :partial => 'shared/feed_narrow', :locals => { :topFeeds => @topFeeds } %>
			<% end %>

			<% cache(:controller => 'homepage', :action => 'homepage', :left_navigation => 'top_categories') do %>
				<h3>Top Categories</h3>

				<%= render :partial => 'shared/category_narrow', :locals => { :topCategories => @topCategories } %>	
			<% end %>
			
			<% cache(:controller => 'homepage', :action => 'homepage', :left_navigation => 'top_media') do %>
				<h3>Top Media</h3>
				
				<%= render :partial => 'shared/media_narrow', :locals => { :topMedia => @topMedia } %>	
			<% end %>
			
			<script type="text/javascript"><!--
			google_ad_client = "pub-7279077462237001";
			/* 160x600, created 7/7/09 */
			google_ad_slot = "8881178843";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		<div class="clearBoth" />
	</div>
	<div class="footer">
		<%= link_to 'sitemap', '/sitemap'%> | 
		<%= link_to 'privacy', '/privacy-policy' %> | 
		<%= link_to 'contact us', '/contact-us' %> | 
		<%= link_to 'advertise', '/advertise' %> |
		<%= link_to 'contribute', '/contribute' %> |
		<%= link_to 'how it works', '/how-it-works' %>
	</div>
	
	<div class="bottomAd">
		<script type="text/javascript"><!--
		google_ad_client = "pub-7279077462237001";
		/* 728x90, created 7/30/09 */
		google_ad_slot = "3484810864";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9105909-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
</body>
</html>